<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ng Ice</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sorvetes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Carrinho</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Pesquisar sorvetes" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>
  
  <main>
  
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Bem-vindo ao Ng Ice!</h1>
          <p class="lead text-muted">O e-commerce de sorvetes nº 1 da América Latina. Possuímos os mais diversos e
            deliciosos sorvetes para entrega imediata em sua casa!</p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <img src="https://www.benandjerry.com.br/files/live/sites/systemsite/files/flavors/products/us/bulk/pineapple-passionfruit-sorbet-bulk-detail.png" class="card-img-top" alt="Pineapple Passionfruit">
              <div class="card-body">
                <h5 class="card-title">Pineapple Passionfruit</h5>
                <p class="card-text">Sorvete de abacaxi com pedaços de abacaxi e calda de maracujá</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://www.benandjerry.com.br/files/live/sites/systemsite/files/flavors/products/us/bulk/berry-berry-sorbet-bulk-detail.png" class="card-img-top" alt="Berry Berry Extraordinary">
              <div class="card-body">
                <h5 class="card-title">Berry Berry Extraordinary®</h5>
                <p class="card-text">Sorvete de mirtilo (blueberry), framboesa e amora</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://www.benandjerry.com.br/files/live/sites/systemsite/files/flavors/products/us/bulk/chocolat-therapy-bulk-detail.png" class="card-img-top" alt="Chocolate Therapy">
              <div class="card-body">
                <h5 class="card-title">Chocolate Therapy</h5>
                <p class="card-text">Sorvete sabor chocolate com cookie sabor chocolate</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://www.benandjerry.com.br/files/live/sites/systemsite/files/flavors/products/us/bulk/vanilla-bulk-detail.png" class="card-img-top" alt="Vanilla">
              <div class="card-body">
                <h5 class="card-title">Vanilla</h5>
                <p class="card-text">Sorvete sabor baunilha</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
  
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Voltar ao início</a>
      </p>
      <p class="mb-1">Ng-Ice 2021 - Todos os direitos reservados &copy;</p>
    </div>
  </footer>