<div *ngIf="icecream" class="container py-5 bg-light">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img
          [src]="icecream.image"
          class="card-img-top"
          [alt]="icecream.name"
        />
      </div>
    </div>
    <div class="col">
      <h1 class="fw-light">{{icecream.name}}</h1>
      <p class="lead text-muted">
        {{icecream.description}}
      </p>
      <h1 class="card-title pricing-card-title">
        {{ icecream.price | currency : 'BRL' }}<small class="text-muted fw-light">/un</small>
      </h1>

      <h4>
        {{ icecream.quantity | quantityDescription }}
      </h4>

      <button [disabled]="icecream.quantity === 0" class="btn btn-lg btn-primary mt-4" href="#" role="button"
        >Adicionar ao Carrinho</button
      >
    </div>
  </div>
</div>
