<div class="container py-5 bg-light">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img
          src="https://www.benandjerry.com.br/files/live/sites/systemsite/files/flavors/products/us/bulk/pineapple-passionfruit-sorbet-bulk-detail.png"
          class="card-img-top"
          alt="Pineapple Passionfruit"
        />
      </div>
    </div>
    <div class="col">
      <h1 class="fw-light">Pineapple Passionfruit</h1>
      <p class="lead text-muted">
        Sorvete de abacaxi com pedaços de abacaxi e calda de maracujá
      </p>
      <h1 class="card-title pricing-card-title">
        R$10<small class="text-muted fw-light">/un</small>
      </h1>
      <a class="btn btn-lg btn-primary mt-4" href="#" role="button"
        >Adicionar ao Carrinho</a
      >
    </div>
  </div>
</div>
